/* This CSS file follows the format:

1) General styles

2) Header

3) Navigation

4) Content
	
	a. Main
	
	b. Sidebar

5) Footer

*/


								/* 1) GENERAL STYLES */

body {
	overflow-x: hidden;
	background: white;
	font-family: neuton;
}    

div ul {
	margin-right: 10px;
}

a {
	color: black;
}


								/* 2) HEADER */

header {
	height: 250px;
	display: block;
	float: none;
	position: relative;
	background-image: url('/static/blog_pics/canyon1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 30%;
}

header.desaturate {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

@media (max-width: 768px) {
	header {
		height: 150px;
	}
}

@media (max-width: 505px) {
	header {
		height: 100px;
	}
}



								/* 3) NAVIGATION */

.navbar {
	margin-top: -51px;
	border-color: black transparent;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0px;
}

.navbar-header {
	margin: 0 auto;
	text-align: center;
}

.navbar-toggle {
	float: none;
}

.icon-bar {
	background-color: white;
}

.navbar-nav {
	float: none;
	margin: 0 auto;
	display: table;
  background-color: none;
  color: white;
}

.navbar-nav > li > a {
	font-family: montserrat;
	font-size: 1.25em;
	color: white;
	border-radius: 8px 8px 0 0;
	transition: background-color .3s;
	-webkit-transition: background-color .3s;
}

.active {
	background-color: black;
	border-radius: 8px 8px 0 0;
}

.navbar .navbar-nav li > a:active, .navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:focus {
	background-color: black;
	border-color: black;
/*	font-weight: bold;*/
}


								/* 4) CONTENT */
								
								/* a. Main Content */

.background {
	margin-top: -25px;
	height: 100%;
}

.post-heading {
	font-family: montserrat;
	font-size: 1.5em;
	/*font-weight: bold;*/
	margin-top: 3%;
}

.post-heading a:hover {
	color: #e68800;
	text-decoration: none;
	transition: color .2s;
	-webkit-transition: color .2s;
}

article {
	margin-top: 5%;
	margin-right: 5em;
	margin-left: 3em;
	z-index: 2;
	position: relative;
}

@media (max-width: 767px) {
	article {
		margin-right: 3em;
		margin-top: 10%;
	}
}

.text-info {
	font-family: neuton; 
	font-size: .9em;
	margin: auto;
	padding: 5px;
	color: black;
}

.text-body {
	margin-top: -3%;
	font-family: 'Neuton'; 
	margin-bottom: 5%;
	text-align: right;
}

.image-posts {
	border-radius: 5%;
	background: 50% 50% no-repeat;
	width: 100%;
	max-height: 300px;
	margin: 25px 5px 3px 0;
	background-size: cover;
}

.image-posts.desaturate {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

hr {
	border-width: 1px;
	margin-top: 2px;
	margin-bottom: 6px;
	height: 1px;
	background-color: black;
}

.btn {
	border-radius: 5px;
	background-color: white;
	border: black solid 1px;
}

.btn:hover, .btn:active {
	color: white;
	background-color: black;
	border-color: black;
	transition: background-color 1.2s;
	-webkit-transition: background-color 1.2s;
}

#comments {
	font-family: montserrat;
	margin-top: 5%;
	font-size: 1.1em;
}

#comments input {
	font-family: neuton;
}

.pager-bottom, .pager {
	float: none;
	text-align: center;
	margin: 0 auto;
	display: table;
	max-width: 75px;
}

.pager .next a:active, .pager .next a:hover {
	color: white;
	background-color: black;
}


								/* b. Sidebar */


.profile-pic-sidebar {
	float: none;
	margin: 0 auto;
	max-width: 150px;
}

#social-icons {
	vertical-align: middle;
	text-align: center;
}

#social-icons > a > img {
	width: 2.25em;
	margin: 2%;
}

#social-icons > a > img:hover {
}

.panel-heading {
	text-transform: uppercase;
	font-family: montserrat, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	border-top: 1px black;
	margin-top: 10%;
}

.panel-heading > a:hover {
	color: black;
}

.sidebar li a {
	font-family: neuton;
	font-size: 1.2em;
}

.sidebar {
	margin-top: 10%;
}

.sidebar .panel-heading, .sidebar ul li, .sidebar div {
	text-align: center;
	vertical-align: middle;
}

@media (min-width: 767px) {
	.sidebar {
		margin-left: 0;
		margin-top: 50px;
	}
}

.sidebar ul > li > a:hover {
	color: black;
	text-decoration: underline;
}

#categories {
	margin-bottom: 10%;
}

.list-group-item {
	width: 100%;
	border: 0;
}


								/* 5) FOOTER */

.footer {
	background-color: /*#E9E9E9*/ white;
	margin: 10px auto;
}

								/*RESOURCES PAGE*/

#resources {
}

@media (min-width: 767px) {
	#resources {
	}
}

#resources h4 {
	font-family: montserrat;
}

#resources a {
	font-size: 1.2em;
	font-family: montserrat;
}

#resources a:hover {
	color: #e68800;
	text-decoration: none;
}
