/* This CSS file follows the format:

1) General styles

2) Header

3) Navigation

4) Content
	
	a. Main
	
	b. Sidebar

5) Footer

*/


								/* 1) GENERAL STYLES */

body {
	overflow-x: hidden;
	background: #f5f5f5;
	font-family: 'Neuton', serif;
}    

div ul {
	margin-right: 10px;
}

a {
	color: black;
}


								/* 2) HEADER */

header {
	height: 27em;
	display: block;
	float: none;
	position: relative;
	background-image: url('/static/blog_pics/tree_field.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 65%;
}

@media (max-width: 768px) {
	header {
		height: 150px;
	}
}

@media (max-width: 505px) {
	header {
		height: 100px;
	}
}



								/* 3) NAVIGATION */

.navbar {
	margin-top: -51px;
	border-color: black transparent;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0px;
}

.navbar-header {
	margin: 0 auto;
	text-align: center;
}

.navbar-toggle {
	float: none;
	border-color: white;
}

.icon-bar {
	background-color: white;
}

.navbar-nav {
	float: none;
	margin: 0 auto;
	display: table;
  color: white;
}

.navbar-nav li > a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	color: white;
	border-radius: 8px;
	transition: all .3s;
	-webkit-transition: all .3s;
}

@media (min-width: 768px) {
	.navbar-nav li > a {
		color: white;
		border-radius: 8px 8px 0 0;
	}
}

.navbar-nav li > a:hover {
	background-color: black;
	border-color: black;
}

.tab-nav-button { /* Activated by JavaScript. See script.js. */
	background-color: black;
}


								/* 4) CONTENT */
								
								/* a. Main Content */

.background {
	margin-top: -25px;
	height: 100%;
}

.post-heading a{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	margin-top: 3%;
	text-decoration: none;
	transition: color .3s;
	-webkit-transition: color .3s;
}

.post-heading a:hover {
	color: rgb(30, 160, 190);
}

article {
	margin-top: 5%;
	margin-right: 5em;
	margin-left: 3em;
	z-index: 2;
	position: relative;
}

@media (max-width: 767px) {
	article {
		margin-right: 3em;
		margin-top: 10%;
	}
}

.text-info {
	font-size: .9em;
	margin: auto;
	padding: 5px;
	color: black;
}

.text-body {
	margin-top: -3%;
	margin-bottom: 5%;
	text-align: right;
}

p.text-body a {
	color: rgb(30, 160, 190);
}

hr {
	border-width: 1px;
	margin-top: 2px;
	margin-bottom: 6px;
	height: 1px;
	background-color: black;
}

.expand {
	border-radius: 5px;
	background-color: white;
	border: black solid 1px;
}

.expand:hover, .expand:active {
	color: white;
	background-color: black;
	border-color: black;
	transition: background-color 1.2s;
	-webkit-transition: background-color 1.2s;
}

.pager-bottom, .pager {
	float: none;
	text-align: center;
	margin: 0 auto;
	display: table;
	max-width: 75px;
}

.pager .next a:active, .pager .next a:hover {
	color: white;
	background-color: black;
}

								/* b. Sidebar */

.profile-pic-sidebar {
	float: none;
	margin: 0 auto;
	max-width: 150px;
}

#social-icons {
	margin-top: 10px;
}

#social-icons a {
	color: white;
	background-color: black;
	border: black solid 1px;
	height: 55%;
	padding: 10px;
}

#social-icons a:hover {
	color: black;
	background-color: white;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.panel-heading {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	border-top: 1px black;
	margin-top: 10%;
}

.panel-heading > a:hover {
	color: black;
}

.sidebar li a {
	font-size: 1.2em;
}

.sidebar {
	margin-top: 10%;
}

.sidebar .panel-heading, .sidebar ul li, .sidebar div {
	text-align: center;
	vertical-align: middle;
}

@media (min-width: 767px) {
	.sidebar {
		margin-left: 0;
		margin-top: 50px;
	}
}

.sidebar ul li {
	background: #f5f5f5;
}

.sidebar ul > li > a:hover {
	color: black;
	text-decoration: underline;
}

#categories {
	margin-bottom: 10%;
}

.list-group-item {
	width: 100%;
	border: 0;
}


								/* 5) FOOTER */

.footer {
	background: #f5f5f5;;
	margin: 10px auto;
}

								/*RESOURCES PAGE*/

#resources {
  font-family: 'Montserrat', sans-serif;
}

#resources ul p {
  font-family: 'Neuton', serif;
}

#resources a {
  font-size: 1.2em;
}

#resources a:hover {
  color: #669900;
  text-decoration: none;
  transition: color .2s;
  -webkit-transition: color .2s;
}