/* This CSS file follows the format:

1) General styles

2) Header

3) Navigation

4) Content
	
	a. Main
	
	b. Sidebar

5) Footer

*/


								/* 1) GENERAL STYLES */

body {
	height: 100%;
	width: 100%;
	background: white; /*url('blog_pics/Colorado1_bw.jpg');*/
	background-attachment: fixed;
	background-position: 20% 30%;
	overflow-x: hidden;
	font-family: 'Neuton', serif;
}

/*#body-layer {
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

div ul {
	margin-right: 10px;
}

a {
	color: black;
}

								/* 2) HEADER */


								/* 3) NAVIGATION */

.navbar {
	background: black;
	background-position: 40% 40%;
	color: white;
	height: 175px;
	margin-bottom: 0;
}

.navbar-header, .navbar-collapse {
	margin-top: 60px;
}

.navbar-toggle {
	float: none;
	border: solid 2px white;
	left: 50%;
	transform: translate(-15px, 0);
}

.icon-bar {
	background-color: white;
}

.navbar-brand {
	font-size: 2.5em;
	margin-left: 20px !important;
	font-family: 'Nothing you could do';
	color: white;
	display: none;
}
.navbar-brand:hover {
	color: white;
}
@media (min-width: 768px) {
	.navbar-brand {
		display: inline-block;
	}
}
@media (min-width: 992px) {
	.navbar-brand {
		font-size: 3.5em;
	}
}

.navbar-nav {
	float: none;
	margin: 0 auto;
	background: black;
	max-width: 50%;
	border: black solid 3px;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: right;
		max-width: none;
		background: transparent;
		border: none;
	}
}
@media (min-width: 992px) {
	.navbar-nav {	
		margin-right: 5%;
	}
}

.navbar-nav li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color: white;
	border: 5px solid transparent;
	text-align: center;
	background: black;
}
.navbar-nav li a:hover {
	background: white;
	color: black;
}
@media (min-width: 768px) {
	.navbar-nav li a {
		background: transparent;
	}
	.navbar-nav li a:hover {
		background: transparent;
		border-color: white transparent transparent transparent;
		color: white;
	}
}

.tab-nav-button { /* Activated by JavaScript. See script.js. */
	border: solid red 3px;
}


								/* 4) CONTENT */
								
								/* a. Main Content */

.col-sm-9 {
	background: white;
	border-right: solid black 1px;
}

.post-heading a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.9em;
	text-decoration: none;
	color:rgb(0,100,120); /*blueish*/
	transition: color .3s;
	-webkit-transition: color .3s;
}

.post-heading a:hover {
	color:gray;
}

article {
	margin: 0;
	position: relative;
	padding: 2em;
}
@media (min-width: 767px) {
	article {
		margin-right: 1em;
		margin-left: 1em;
		margin-top: 2em;
		padding: 3em;
	}
}
article p {
	color: black;
}

.text-info {
	font-size: 1.1em;
	margin: auto;
	padding: 5px;
	color: black;
}

.text-info a {
	color: rgb(200,0,0);
}

.text-body {
	margin-top: -3%;
	margin-bottom: 5%;
	text-align: right;
}

article p {
	color: black;
}

article p span a {
	color: rgb(30, 160, 190); /*teal*/
}

article p span a:hover{
	color: rgb(255,60,60); /*reddish*/
	text-decoration: none;
}

article img {
	height: 90%;
	width: 90%;
}

hr {
	border-width: 1px;
	margin-top: 2px;
	margin-bottom: 6px;
	height: 1px;
	background-color: black;
}

.expand {
	border-radius: 5px;
	background-color: white;
	border: black solid 1px;
}

.expand:hover, .expand:active, ul .next a:hover {
	color: white;
	background-color: black;
	border-color: black;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.pager-bottom, .pager {
	float: none;
	text-align: center;
	margin: 0 auto;
	display: table;
	max-width: 75px;
}

ul .next a {
	border: black solid 1px;
}

#outside {
	margin-bottom: 5%;
}


								/* b. Sidebar */

.profile-pic-sidebar {
	float: none;
	margin: 0 auto;
	max-width: 150px;
}

#social-icons {
	margin-top: 10px;
}

#social-icons a {
	color: white;
	background-color: black;
	border: black solid 1px;
	height: 55%;
	padding: 10px;
}

#social-icons a:hover {
	color: black;
	background-color: white;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.panel-heading {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	border-top: 1px black;
	margin-top: 10%;
}

.panel-heading > a:hover {
	color: black;
}

.sidebar {
	margin-top: 10%;
}

.sidebar li a {
	font-size: 1.2em;
}

.sidebar .panel-heading, .sidebar ul li, .sidebar div {
	text-align: center;
	vertical-align: middle;
}

@media (min-width: 767px) {
	.sidebar {
		margin-left: 0;
		margin-top: 50px;
	}
}

.sidebar ul > li > a:hover {
	color: black;
	text-decoration: underline;
}

#categories, #popular-posts {
	margin-bottom: 10%;
	border-radius: 10px;
	background: white;
}

.list-group-item {
	width: 100%;
	border: 0;
}


								/* 5) FOOTER */

.footer {
	margin: 0 auto;
	background: none;
}

								/*RESOURCES PAGE*/

#resources {
  font-family: 'Montserrat', sans-serif;
}

#resources h2 {
	text-align: center;
	color:rgb(0,100,120);
}

#resources ul {
	margin-bottom: 5%;
}

#resources ul p {
  font-family: 'Neuton', serif;
}

#resources a {
  font-size: 1.2em;
}

#resources a:hover {
  color: rgb(200,0,0);
  text-decoration: none;
  transition: color .1s;
  -webkit-transition: color .1s;
}