<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The Personal Blog of James Mieding">
  <meta name="author" content="James Mieding">
  <title>The Personal Blog of James Mieding</title>
 
              <!-- CSS/Javascript files -->
  {% load staticfiles %}
  
  <link href="{% static 'bootstrap-3.3.4-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
 
  <script type="text/javascript" src="{% static 'tiny_mce.js'  %}"></script>
  <script type="text/javascript" src="{% static 'jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap-3.3.4-dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'script.js'  %}"></script>
</head>


<body>
  
              <!--Header Image-->
<header>
</header>

  <!---Navigation-->            
<nav class="navbar" role="navigation">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div class="collapse navbar-collapse" id="ex1">
    <ul class="nav navbar-nav">
      
      <li><a href="/"><img src="{% static 'blog_pics/home_icon.png' %}" height="17px"></a>
      </li>
      
      <li><a href="{% url 'index_five' %}" id="articles">Articles</a>
      </li>

      <li>
        <a href="/projects.html">Projects</a>
      </li>

      <li>
        <a href="{% url 'resources' %}">Resources</a>
      </li>

      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>

</nav>

{% block app %}
{% endblock %}

</body>
</html>