<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The Personal Blog of James Mieding">
  <meta name="author" content="James Mieding">
  <title>The Personal Blog of James Mieding</title>
 
							<!-- CSS/Javascript files -->
  {% load staticfiles %}
  
  <link href="{% static 'bootstrap-3.3.4-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
 
  <script type="text/javascript" src="{% static 'tiny_mce.js'  %}"></script>
  <script type="text/javascript" src="{% static 'jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap-3.3.4-dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'script.js'  %}"></script>
</head>


<body>
	
							<!--Header Image-->
<header class="desaturate">
</header>

  <!---Navigation-->						
<nav class="navbar" role="navigation">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div class="collapse navbar-collapse" id="ex1">
    <ul class="nav navbar-nav">
      
      <li><a href="/"><img src="{% static 'blog_pics/home_icon.png' %}" height="17px"></a>
      </li>
      
      <li><a href="{% url 'index_five' %}" id="articles">Articles</a>
      </li>

      <li>
        <a href="#">Projects</a>
      </li>

      <li>
        <a href="{% url 'resources' %}">Resources</a>
      </li>

      <li>
        <a href="#">About</a>
      </li>

<!--       <li class="dropdown">
        <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Projects<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" title="x">Python</a></li>
          <li><a href="#">Django</a></li>
          <li><a href="#" title="x">
            HTML/CSS/JS
          </a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li> -->


    </ul>
  </div>

</nav>

<!-- MAIN CONTENT -->
<div class="container-fluid">
  <div class="row background">   
    <div class="col-sm-9">
  
	<!--Post Content-->
	  {% block main %}
    {% endblock %}
    </div>
  
<!-- SIDEBAR -->
  <div class="col-sm-3">
    <div class="sidebar">

      <div>
        <img src="{% static 'blog_pics/headshot_bw_circle.gif' %}" class="profile-pic-sidebar" />
      </div>

    <!--Social Icons: Twitter/ LinkedIn -->
      <div id="social-icons">
        <a href="https://github.com/jmieding?tab=repositories" target="_blank"><img src="{% static 'blog_pics/giticon.png' %}" /></a>
        <a href="http://bit.ly/1YJ7IMf" target="_blank"><img src="{% static 'blog_pics/linkedin.png' %}"  /></a>
        <a href="https://twitter.com/James_Mieding" target="_blank"><img src="{% static 'blog_pics/twittericon.png' %}" /></a>
      </div>
    
    <!-- Search Bar -->

    <!--Popular Articles-->
      <div id="popular-posts">
        <h4 class="panel-heading"><a href="#">Popular</a></h4>   
    	  <ul class="list-group">
    	    <li class="list-group-item"><a href="#">1. Post No. 1</a></li>
          <li class="list-group-item"><a href="#">2. Post No. 2</a></li>
          <li class="list-group-item"><a href="#">3. Post No. 3</a></li>
    	  </ul>
      </div>

      </hr>

    <!--Categories-->
      <div id="categories">
        <h4 class="panel-heading"><a href="#">Categories</a></h4>			
    	  <ul class="list-group">
          <li class="list-group-item"><a href="#">Python</a></li>
          <li class="list-group-item"><a href="#">Django</a></li>
          <li class="list-group-item"><a href="#">HTML/CSS/JS</a></li>
    	  </ul>
      </div>

    <!-- Twitter Feed -->
      <div id="twitter">
        <a class="twitter-timeline" href="https://twitter.com/James_Mieding" data-widget-id="671483245431754757" data-chrome="nofooter noscrollbar">Tweets by @James_Mieding</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
		</div>
  </div>
  </div>	
  </div>
</div>			


	
<!--FOOTER-->

  <div class="container-fluid footer">
    <hr />
    <p class="text-center text-footer">Copyright © James Mieding 2015. All rights reserved.</p>
  </div>
</body>
</html>