{% extends 'articles/base.html' %}

{% block main %}
    
    <!--Post Header-->
  <article>
    
    <div>
      <!-- Post Title -->
      <p class="post-heading">
        <a href="/articles/{{ post.slug }}/">{{post.title}}</a>
      </p>
      <hr>
      
      <!--Post Information-->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="text-info">{{post.published_date |date:"N d, Y" }} | Categories: <a href="#">XXX</a></p>
        </div>
      </div>
      <hr>
    </div>

  <!--Post Body-->
  <p class="text-body">{{post.text | safe}}</p>

  </article>

{% endblock %}