/* This CSS file follows the format:

1) General styles

2) Header

3) Navigation

4) Content
	
	a. Main
	
	b. Sidebar

5) Footer

*/


								/* 1) GENERAL STYLES */

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: white;
	overflow-x: hidden;
	font-family: 'Neuton', serif;
}

/*#body-layer {
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

div ul {
	margin-right: 10px;
}

a {
	color: black;
}

								/* 2) HEADER */


								/* 3) NAVIGATION */

nav {
	background: url('blog_pics/Colorado4_bw.jpg');
	background-position: 60% 38%;
	background-size: cover;
	color: white;
	height: 175px;
	margin-bottom: 0;
}

.navbar-header, .navbar-collapse {
	margin-top: 60px;
}

.navbar-toggle {
	float: none;
	border: solid 2px white;
	left: 50%;
	transform: translate(-15px, 0);
}

.icon-bar {
	background-color: white;
}

.navbar-brand {
	font-size: 2.5em;
	margin-left: 20px !important;
	font-family: 'Nothing you could do';
	color: white;
	display: none;
}
.navbar-brand:hover {
	color: white;
}
@media (min-width: 768px) {
	.navbar-brand {
		display: inline-block;
	}
}
@media (min-width: 992px) {
	.navbar-brand {
		font-size: 3.5em;
	}
}
.navbar-nav {
	float: none;
	margin: 0 auto;
	background: black;
	max-width: 50%;
	border: black solid 3px;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: right;
		max-width: none;
		background: transparent;
		border: none;
	}
}
@media (min-width: 992px) {
	.navbar-nav {	
		margin-right: 5%;
	}
}

.navbar-nav li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color: white;
	text-align: center;
	background: transparent;
}

.navbar-nav li a:hover {
	background: white;
	color: black;
}
@media (min-width: 768px) {
	.navbar-nav li a:hover {
		background: transparent;
		color: white;
	}
}
.navbar-nav li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.navbar-nav li a:hover:after {
	width: 50%;
	background: black;
	color: black;
}
@media (min-width:768px) {
	.navbar-nav li a:hover:after {
		width: 100%;
		background: white;
	}
}
/* .tab-nav-button { Activated by JavaScript. See script.js. 
	border: 3px solid red;
}*/


								/* 4) CONTENT */
								
								/* a. Main Content */

.post-heading {
	border: none;
	padding-bottom: 0px;
}

.post-heading a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.9em;
	text-decoration: none;
	color:rgb(0,100,120); /*blueish*/
	transition: color .3s;
	-webkit-transition: color .3s;
}

.post-heading a:hover {
	color:gray;
}

article {
	margin: 0;
	position: relative;
	padding: 2em;
}
@media (min-width: 767px) {
	article {
		margin-right: 1em;
		margin-left: 1em;
		margin-top: .5em;
		padding: 3em;
	}
}
article p {
	color: black;
}

.text-info {
	font-size: 1.1em;
	margin: auto;
	padding: 5px;
	color: black;
}

.text-info a {
	color: #990000;
}

article p {
	color: black;
}

article p span a {
	color: rgb(30, 160, 190); /*teal*/
}

article p span a:hover{
	color: rgb(255,60,60); /*reddish*/
	text-decoration: none;
}

article img {
}

#hr1, #hr2 {
	border-top: black solid 1px;
}

#hr2 {
	margin-bottom: 2%;
}

hr {
	margin-top: 2px;
	margin-bottom: 3px;
	background-color: black;
	color: black;
	border: 0 none;
	height: 1px;
}

.expand {
	border-radius: 5px;
	background-color: white;
	border: black solid 1px;
}

.expand:hover, .expand:active, ul .next a:hover {
	color: white;
	background-color: black;
	border-color: black;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.pager-bottom, .pager {
	float: none;
	text-align: center;
	margin: 0 auto;
	display: table;
	max-width: 75px;
}

ul .next a {
	border: black solid 1px;
}

#outside {
	margin-bottom: 5%;
}

								/*Comments*/

#comment {
	margin-bottom: 40px;
}

.comment-visitor, .comment-james {
	border: solid black 1px;
	border-radius: 5px;
	color: black;
	margin-bottom: 1px;
}

.comment-visitor p:first-child, .comment-james p:first-child {
	font-family:'Montserrat';
}

.comment-visitor {
	background: rgb(235,235,235);
}
.comment-visitor *, .comment-james * {
	margin-left: 20px;
	margin-top: 20px;
}

.comment-james {
	background: black;
	
}
.comment-james * {
	color: white;
}


								/* b. Sidebar */

.profile-pic-sidebar {
	float: none;
	margin: 0 auto;
	margin-top: -10px;
	max-width: 150px;
}

#social-icons {
	margin-top: 10px;
}

#social-icons a {
	color: white;
	background-color: black;
	border: black solid 1px;
	height: 55%;
	padding: 10px;
}

#social-icons a:hover {
	color: black;
	background-color: white;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.panel-heading {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	border-top: 1px black;
	margin-top: 10%;
}

.panel-heading > a:hover {
	color: black;
}


.sidebar li a {
	font-size: 1.2em;
}

.sidebar .panel-heading, .sidebar ul li, .sidebar div {
	text-align: center;
	vertical-align: middle;
}

@media (min-width: 767px) {
	.sidebar {
		margin-left: 0;
		margin-top: 50px;
	}
}

.sidebar ul > li > a:hover {
	color: black;
	text-decoration: underline;
}

#categories, #popular-posts {
	margin-bottom: 10%;
	border-radius: 10px;
}

.list-group-item {
	width: 100%;
	border: 0;
	background: none;
}

								/* 5) FOOTER */

.footer {
	margin: 0 auto;
	background: none;
}

								/*RESOURCES PAGE*/

#resources {
  font-family: 'Montserrat', sans-serif;
}

#resources h2 {
	text-align: center;
	color:rgb(0,100,120);
}

#resources ul {
	margin-bottom: 5%;
}

#resources ul p {
  font-family: 'Neuton', serif;
}

#resources a {
  font-size: 1.2em;
}

#resources a:hover {
  color: rgb(200,0,0);
  text-decoration: none;
  transition: color .1s;
  -webkit-transition: color .1s;
}

								/*ABOUT PAGE*/
#about {
	font-size:1.2em;
}

#contact {
	margin-top:10%;
}

#contact > p {
	font-weight:bold;
	text-align: center;
}

@media(min-width: 768px) {
	#contact {
		margin-top:3%;
		margin-left: 5%;
	}
	#contact > p {
		text-align:left;
	}
}

#registration {
	margin-left: 35%;
	margin-top: 3%;
}